<h1>New Router</h1>
<%= form_for @router do |f| %>
	<p>
		<%= f.label :building_id, "Building" %>
		<%= collection_select(:router, :building_id, Building.all, :id, :name) %>
	</p>
	<p>
		<%= f.label :location, "Location" %>
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label :ip, "IP Address" %>
		<%= f.text_field :ip %>
	</p>
	<p>
		<%= f.submit "Save Router", class: "btn btn-small btn-action" %>
	</p>

<% end %>
